# Xft.autohint: 0
# Xft.lcdfilter: lcddefault
# Xft.hintstyle: hintfull
# Xft.hinting: 1
# Xft.antialias: 1
# Xft.rgba: v-bgr

XTerm.termName: xterm-256color
XTerm.vt100.locale: true
XTerm.vt100.faceName: Monospace
