Xft.dpi: 149
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintsfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
Xcursor.size: 32

XTerm.termName: xterm-256color
Xterm.vt100.locale: true
Xterm.vt100.faceSize: 14
XTerm.vt100.faceName: Hack Nerd Font Mono

*background: rgb:32/32/34
*foreground: rgb:DF/DF/DF
