Xft.dpi: 149
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintsfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

XTerm.termName: xterm-256color
Xterm.vt100.locale: true
XTerm.vt100.faceName: Fira Code
Xterm.vt100.faceSize: 14

