* {
  font-size: 100%;
  font-family: sans-serif;
  font-weight: bold;
  padding: 0;
}

#waybar {
  background-color: black;
}

#workspaces {

}

#workspaces > button {
  padding: 0 2px;
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid @unfocused_insensitive_color;
}

#workspaces > button > label {
  color: @theme_unfocused_fg_color;
  font-weight: normal;
}

#workspaces > button.focused {
  background-color: @theme_selected_bg_color;
  border-color: @theme_selected_fg_color;
}

#workspaces > button.focused > label {
  color: @theme_selected_fg_color;
  font-weight: bold;
}
